*.sif # singularity image
kernels/*
.ipynb_checkpoints/*
notebooks/data_exploration/.ipynb_checkpoints/*
notebooks/starter_files/utils/__pycache__/
ai4food/best_model.pt
ai4food/train_losses.txt
ai4food/valid_losses.txt
ai4food/34S-20E-259N-2017-validation.json
ai4food/__pycache__/
images/ai-4-food-security_latest.sif

