*.sif # singularity image
kernels/*
.ipynb_checkpoints/*
ai4food/.ipynb_checkpoints/
ai4food/models/models/.ipynb_checkpoints/
ai4food/dataloaders/.ipynb_checkpoints/
notebooks/data_exploration/.ipynb_checkpoints/*
ai4food/.ipynb_checkpoints/
ai4food/models/models/__pycache__/
ai4food/dataloaders/.ipynb_checkpoints/
notebooks/starter_files/utils/__pycache__/
ai4food/best_model*
ai4food/train_losses*
ai4food/valid_losses*
ai4food/validation.json
ai4food/submission.json
ai4food/submission_val.json
ai4food/reference_val.json
ai4food/__pycache__/
ai4food/models/models/__pycache__/
ai4food/epoch*
ai4food/dataloaders/__pycache__/
ai4food/models/models/__pycache__/*
images/*
nni/*
jobs/*
run_test.sh
*.pyc
