*.sif # singularity image
kernels/*
.ipynb_checkpoints/*
notebooks/data_exploration/.ipynb_checkpoints/*
notebooks/starter_files/utils/__pycache__/
ai4food/best_model.pt
ai4food/train_losses.txt
ai4food/valid_losses.txt
ai4food/validation.json
ai4food/submission.json
ai4food/__pycache__/
ai4food/epoch*
ai4food/dataloaders/__pycache__/
images/*
nni/*
jobs/*
